/**********************************\
|   DIVS WITH FIXED ASPECT RATIO   |
\**********************************/

.fixed-ratio {
    position: relative;
    overflow: hidden;
    height: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fixed-ratio > * {
    position: absolute;
    top: 0;
}

.fr-1-1 {
    padding-top: 100%;
}

.fr-5-4 {
    padding-top: 80%;
}

.fr-4-3 {
    padding-top: 75%;
}

.fr-16-9 {
    padding-top: 56.25%;
}

.fr-2-1 {
    padding-top: 50%;
}

/************\
|   IMAGES   |
\************/

.img-hover-zoom {
    position: relative;
    overflow: hidden;
}

.img-hover-zoom img, .img-hover-zoom .zoomable {
    transition: transform 0.5s ease-in-out;
}

.img-hover-zoom:hover img, .img-hover-zoom:hover .zoomable {
    transform: scale(1.2);
}

.img-click-zoom {
    cursor: zoom-in;
}

.img-fullscreen {
    cursor: zoom-out;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    background-color: #222;
    z-index: 200;
    transition: opacity 0.5s ease-in-out;
}

.img-fullscreen img {
    max-height: 0%;
    max-width: 0%;
    transition: 0.5s ease-in-out;
}

.img-fullscreen.active {
    opacity: 1;
    top: 0;
    bottom: 0;
}

.img-fullscreen.active img {
    max-height: 100%;
    max-width: 100%;
}

/*************\
|   DIVIERS   |
\*************/

div.divider, div.divider.dark {
    height: 0px;
    width: 100%;
    margin: 4px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

div.divider.light {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

div.divider.vertical, div.divider.vertical.dark {
    height: 100%;
    width: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0 4px;
}

div.divider.vertical.light {
    height: 100%;
    width: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.12);
    margin: 0 4px;
}

/*************\
|   BUTTONS   |
\*************/

.btn {
    text-decoration: none!important;
    outline: none!important;
    box-shadow: none!important;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.btn, .btn:hover {
    color: var(--col-text-sec-dark);
}

.btn.light, .btn.light:hover {
    color: var(--col-text-light);
}

.btn.text-accent, .btn.text-accent:hover {
    color: var(--col-accent);
}

.btn .mdi {
    height: 20px;
    font-size: 20px;
    line-height: 20px;
}

.btn.text-center .mdi {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.btn span {
    margin: 0;
}

.btn.text-center span {
    margin: 0!important;
    padding: 0 24px;
}

.btn .mdi ~ span, .btn span ~ .mdi {
    margin: 0 0 0 8px;
}

.btn.transparent:hover, .btn.outline:hover, .btn.icon:hover,
.btn.transparent:focus, .btn.outline:focus, .btn.icon:focus {
    background-color: rgba(0, 0, 0, 0.08);
}

.btn.transparent.light:hover, .btn.outline.light:hover, .btn.icon.light:hover,
.btn.transparent.light:focus, .btn.outline.light:focus, .btn.icon.light:focus {
    background-color: rgba(255, 255, 255, 0.08);
}

.btn.outline {
    padding: 5px 12px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.btn.outline.light {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn.accent, .btn.fab {
    background-color: var(--col-accent);
    color: var(--col-text-light);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225)!important;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn.accent:hover, .btn.fab:hover, .file-input:hover,
.btn.accent:focus, .btn.fab:focus, .file-input:focus-within {
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225)!important;
}

.btn.accent:after, .btn.fab:after, .file-input:after, .btn.fab:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

.btn.accent:hover:after, .btn.fab:hover:after, .file-input:hover:after,
.btn.accent:focus:after, .btn.fab:focus:after, .file-input:focus-within:after {
    background-color: rgba(255, 255, 255, 0.08);
}

.btn.round {
    padding: 6px 16px;
    border-radius: 360px;
}

.btn.round.outline {
    padding: 5px 16px;
    border-radius: 360px;
}

.btn.icon {
    background-color: transparent;
    padding: 6px;
    border-radius: 50%;
    flex-direction: column;
}

.btn.icon .mdi {
    height: 24px;
    font-size: 24px;
    line-height: 24px;
}

.btn.fab {
    border-radius: 100%;
    padding: 12px;
}

.btn:disabled {
    opacity: 1;
    pointer-events: none;
}

.btn:disabled, .btn:disabled * {
    color: var(--col-text-dis-dark)!important;
}

.btn.light:disabled, .btn.light:disabled *,
.btn.accent.dark:disabled, .btn.fab.dark:disabled,
.btn.accent.dark:disabled *, .btn.fab.dark:disabled * {
    color: var(--col-text-dis-light)!important;
}

.btn.accent:disabled, .btn.fab:disabled {
    background-color: var(--col-primary-dark);
    box-shadow: none!important;
}

.btn.accent.dark:disabled,
.btn.fab.dark:disabled {
    background-color: var(--col-dark-primary-light);
}

/*****************\
|   FILE INPUTS   |
\*****************/

.file-input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 0;
    background-color: var(--col-accent);
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225)!important;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.file-input * {
    color: var(--col-text-light)!important;
}

.file-input [type="file"] {
    position: absolute;
    height: 0;
    width: 0;
}

.file-input i {
    height: 20px;
    font-size: 20px;
    line-height: 20px;
}

.file-input span {
    margin: 0 0 0 8px;
}

.file-input .count {
    height: 18px;
    width: 18px;
    border-radius: 360px;
    margin: 0 0 0 8px;
    color: var(--col-accent)!important;
    background-color: var(--col-text-light);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.file-input .count .mdi {
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    color: var(--col-accent)!important;
}

.file-input.disabled {
    background-color: var(--col-primary-dark);
    box-shadow: none!important;
    cursor: default;
    pointer-events: none;
}

.file-input.disabled * {
    color: var(--col-text-dis-dark)!important;
}

.file-input.dark.disabled {
    background-color: var(--col-dark-primary-light);
}

.file-input.dark.disabled * {
    color: var(--col-text-dis-light)!important;
}

/*******************\
|   RADIO BUTTONS   |
\*******************/

.radio {
    position: absolute;
    height: 0;
    width: 0;
}

.radio + label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

.radio.light + label {
    color: var(--col-text-light);
}

.radio + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid var(--col-icon-dark);
    border-radius: 100%;
    transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.radio.light + label:before {
    border: 2px solid var(--col-text-sec-light);
}

.radio:not(:disabled):hover + label:before,
.radio:focus + label:before {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.08);
}

.radio.light:not(:disabled):hover + label:before,
.radio.light:focus + label:before {
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.12);
}

.radio:checked + label:before {
    border: 2px solid var(--col-accent);
}

.radio + label:after {
    content: '';
    height: 12px;
    width: 12px;
    background: var(--col-accent);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.radio:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

.radio:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

[type="radio"]:disabled + label, [type="checkbox"]:disabled + label {
    opacity: 0.65;
    cursor: default;
}

/************************\
|   RICH RADIO BUTTONS   |
\************************/

.rich-radio {
    position: absolute;
    height: 0;
    width: 0;
}

.rich-radio + label {
    display: flex;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.rich-radio:not(:disabled):hover + label,
.rich-radio:focus + label {
    background-color: rgba(0, 0, 0, 0.08);
}

.rich-radio.light:not(:disabled):hover + label,
.rich-radio.light:focus + label {
    background-color: rgba(255, 255, 255, 0.08);
}

.rich-radio:checked + label {
    border: 2px solid var(--col-accent);
}

/****************\
|   CHECKBOXES   |
\****************/

.checkbox {
    position: absolute;
    height: 0;
    width: 0;
}

.checkbox + label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

[type="checkbox"].light + label {
    color: var(--col-text-light);
}

.checkbox + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25em;
    width: 1.25em;
    background: transparent;
    border: 2px solid var(--col-icon-dark);
    border-radius: 0.125em;
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.checkbox.light + label:before {
    border: 2px solid var(--col-text-sec-light);
}

.checkbox:not(:disabled):hover + label:before,
.checkbox:focus + label:before {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.08);
}

.checkbox.light:not(:disabled):hover + label:before,
.checkbox.light:focus + label:before {
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.12);
}

.checkbox:checked + label:before {
    background: var(--col-accent);
    border: none;
}

.checkbox + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.checkbox:checked + label:after {
    height: 0.375em;
    width: 0.75em;
    opacity: 1;
    border: 0.125em solid var(--col-primary);
    border-top-style: none!important;
    border-right-style: none!important;
    transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
    transition: opacity 0.2s ease-in-out;
}

.checkbox.light:checked + label:after {
    border: 0.125em solid var(--col-dark-primary);
}

.checkbox:indeterminate + label:before {
    background: var(--col-accent);
    border: none;
}

.checkbox:indeterminate + label:after {
    height: 0.375em;
    width: 0.75em;
    opacity: 1;
    border: 0.125em solid var(--col-primary);
    border-top-style: none!important;
    border-right-style: none!important;
    border-left-style: none!important;
    transform: translate(0.25em, 0.3365384615em);
    transition: opacity 0.2s ease-in-out;
}

.checkbox.light:indeterminate + label:after {
    border: 0.125em solid var(--col-dark-primary);
}

/**************\
|   SWITCHES   |
\**************/

.switch {
    position: absolute;
    height: 0;
    width: 0;
}

.switch + label {
    position: relative;
    display: inline-block;
    min-width: 112px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    padding-left: 44px;
}

.switch + label span {
    color: var(--col-text-dark);
}

.switch.light + label span {
    color: var(--col-text-light);
}

.switch + label:before, .switch + label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s ease;
}

.switch + label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.switch.light + label:before {
    background-color: rgba(255, 255, 255, 0.3);
}

.switch + label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.switch:not(:disabled):hover + label:after,
.switch:focus + label:after {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.08);
}

.switch.light:not(:disabled):hover + label:after,
.switch.light:focus + label:after {
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.12);
}

.switch + label .on {
    display: none;
}

.switch + label .off {
    display: inline-block;
}

.switch:checked + label:before {
    background-color: var(--col-accent);
    opacity: 0.54;
}

.switch:checked + label:after {
    background-color: var(--col-accent);
    transform: translate(80%, -50%);
}

.switch:checked + label .on {
    display: inline-block;
}

.switch:checked + label .off {
    display: none;
}

.switch:disabled + label:after {
    background-color: #888;
}

.switch.light:disabled + label:after {
    background-color: #AAA;
}

/*******************\
|   RICH SWITCHES   |
\*******************/

.rich-switch-container {
    display: inline-flex;
    padding: 6px;
    border-radius: 360px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s ease-in-out;
}

.rich-switch-container:hover {
    background-color: var(--col-primary-dark);
}

.rich-switch-container.dark {
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.rich-switch-container.dark:hover {
    background-color: var(--col-dark-primary-light);
}

.rich-switch {
    position: absolute;
    height: 0;
    width: 0;
}

.rich-switch + label {
    cursor: pointer;
    font-weight: bold;
    color: var(--col-text-sec-dark);
    border-radius: 360px;
    margin: 0;
    padding: 6px 16px;
}

.rich-switch:checked + label {
    color: var(--col-text-light)!important;
    background-color: var(--col-accent);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225)!important;
}

.rich-switch.dark + label {
    color: var(--col-text-sec-light);
}

/*************\
|   SELECTS   |
\*************/

.dropdown.select {
    display: block;
    margin: 8px 0;
}

.dropdown.select>.text-input,
.dropdown.select>.text-input * {
    cursor: pointer!important;
}

.dropdown.select>.text-input>.mdi {
    pointer-events: none;
}

.dropdown.select>.text-input input {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown.select .dropdown-menu {
    top: -6px!important;
}

.dropdown.select .radio + label:before, .dropdown.select .radio + label:after {
    display: none!important;
}

.dropdown.select .radio + label,
.dropdown.select .checkbox + label {
    width: 100%;
    margin: 0;
    line-height: 24px;
    transition: background-color 0.2s ease-in-out;
}

.dropdown.select .radio + label {
    padding: 8px 16px;
}

.dropdown.select .radio + label:hover,
.dropdown.select .radio:focus + label,
.dropdown.select .radio:checked + label,
.dropdown.select .checkbox + label:hover,
.dropdown.select .checkbox:focus + label {
    background-color: rgba(0, 0, 0, 0.08);
}

.dropdown.select .radio.light + label:hover,
.dropdown.select .radio.light:focus + label,
.dropdown.select .radio.light:checked + label,
.dropdown.select .checkbox.light + label:hover,
.dropdown.select .checkbox.light:focus + label {
    background-color: rgba(255, 255, 255, 0.08);
}

.dropdown.select .checkbox + label {
    padding: 8px 16px 8px 48px;
}

.dropdown.select .checkbox + label:before,
.dropdown.select .checkbox + label:after {
    top: 10px;
    left: 16px;
}

.dropdown.select .checkbox:hover + label:before,
.dropdown.select .checkbox:focus + label:before {
    box-shadow: none;
}

/**************************\
|   RATING RADIO BUTTONS   |
\**************************/

.review-stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.review-stars label {
    cursor: pointer;
    margin: 0;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.review-stars label:hover {
    background-color: rgba(0, 0, 0, 0.08)
}

.review-stars.light label:hover {
    background-color: rgba(255, 255, 255, 0.08)
}

.review-stars [type="radio"],
.review-stars [type="radio"]:not(:checked) + label .checked,
.review-stars [type="radio"]:hover ~ label .unchecked,
.review-stars [type="radio"]:checked ~ label .unchecked {
    display: none;
}

.review-stars [type="radio"]:hover ~ label .checked,
.review-stars [type="radio"]:checked ~ label .checked {
    display: initial;
}

/*************************\
|   TEXT INPUTS & AREAS   |
\*************************/

.text-input, .text-area {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.text-input input {
    height: 42px;
    margin: 6px 0;
    padding: 6px 12px;
    background-color: var(--col-primary);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    outline: none;
    transition: border-color 0.1s;
}

.text-input.dark input {
    color: var(--col-text-light);
    background-color: var(--col-dark-primary);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-input label, .text-area label {
    position: absolute;
    top: 15px;
    left: 12px;
    margin: 0;
    display: flex;
    align-items: center;
    color: var(--col-text-sec-dark);
    background-color: var(--col-primary);
    border-radius: 360px;
    transition: all 0.2s, color 0.1s;
}

.text-input.dark label, .text-area.dark label {
    color: var(--col-text-sec-light);
    background-color: var(--col-dark-primary);
}

.text-input input:not(:disabled) + label, textarea:not(:disabled) + label {
    cursor: text;
}

/* Leading and trailing icons */
.text-input>.leading-icon {
    position: absolute;
    top: 15px;
    left: 12px;
}

.text-input>.trailing-icon {
    position: absolute;
    top: 15px;
    right: 12px;
}

.text-input.disabled .leading-icon,
.text-input.disabled .trailing-icon {
    color: var(--col-text-dis-dark);
}

.text-input.dark.disabled .leading-icon,
.text-input.dark.disabled .trailing-icon {
    color: var(--col-text-dis-light);
}

/* Adjust input and label padding for leading icon */

.text-input .leading-icon ~ input {
    padding-left: 44px;
}

.text-input .trailing-icon ~ input {
    padding-right: 44px!important;
}

.text-input .leading-icon ~ label {
    left: 44px;
}

/* Change border and prevent text shifting on focus */

.text-input input:focus, textarea:focus,
.text-input[aria-expanded="true"] input {
    padding: 5px 11px;
    border: 2px solid var(--col-accent)!important;
}

.text-input .leading-icon ~ input:focus {
    padding-left: 43px;
}

.text-input .trailing-icon ~ input:focus {
    padding-right: 43px;
}

.text-input input:focus + label, textarea:focus + label,
.text-input input:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label,
.text-input[aria-expanded="true"] label {
    cursor: default;
    top: -2px;
    left: 10px;
    font-size: 12px;
    padding: 0 4px;
}

.text-input input:focus + label, textarea:focus + label,
.text-input[aria-expanded="true"] label {
    color: var(--col-accent)!important;
}

.text-input input.valid {
    border: 2px solid #43A047;
}

.text-input.dark input.valid {
    border: 2px solid #00C853;
}

.text-input input.valid + label {
    color: #43A047;
}

.text-input.dark input.valid + label {
    color: #00C853;
}

.text-input input.error {
    border: 2px solid #B71C1C;
}

.text-input.dark input.error {
    border: 2px solid #D50000;
}

.text-input input.error + label {
    color: #B71C1C;
}

.text-input.dark input.error + label {
    color: #D50000;
}

.text-input > span, .text-area > span {
    font-size: 12px;
    margin-left: 14px;
    color: var(--col-text-sec-dark);
}

.text-input.dark > span, .text-area.dark > span {
    color: var(--col-text-sec-light);
}

.text-input input.error ~ span,
textarea.error ~ span {
    color: #B71C1C;
}

.text-input.dark input.error ~ span,
.text-area.dark textarea.error ~ span {
    color: #D50000;
}

.text-input.disabled {
    pointer-events: none;
}

.text-input input:disabled,
.text-input input:disabled + label,
.text-input input:disabled ~ span,
textarea:disabled,
textarea:disabled + label,
textarea:disabled ~ span {
    opacity: 1;
    color: var(--col-text-dis-dark);
    border-color: rgba(0, 0, 0, 0.12);
}

.text-input.dark input:disabled,
.text-input.dark input:disabled + label,
.text-input.dark input:disabled ~ span,
.text-area.dark textarea:disabled,
.text-area.dark textarea:disabled + label,
.text-area.dark textarea:disabled ~ span {
    opacity: 1;
    color: var(--col-text-dis-light);
    border-color: rgba(255, 255, 255, 0.12);
}

textarea {
    height: 160px;
    outline: none;
    resize: none;
    margin: 6px 0;
    padding: 6px 12px;
    color: var(--col-text-dark);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: 0.1s;
}

.text-area.dark textarea {
    color: var(--col-text-light);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-input .counter, .text-area .counter {
    position: absolute;
    bottom: 0;
    right: 14px;
}

/****************\
|   PAGINATION   |
\****************/

.pagination {
    margin: 4px -2px;
    padding: 0;
    display: flex;
    align-items: center;
}

.pagination li {
    margin: 2px;
}

.pagination li a:not(.btn) {
    outline: none!important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    color: var(--col-text-sec-dark);
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.pagination.light li a:not(.btn) {
    color: var(--col-text-sec-light);
}

.pagination li:hover a:not(.btn),
.pagination li a:not(.btn):focus {
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination.light li:hover a:not(.btn),
.pagination.light li a:not(.btn):focus {
    background-color: rgba(255, 255, 255, 0.08);
}

.pagination li a.selected {
    height: 32px;
    width: 32px;
    color: var(--col-text-light)!important;
    background-color: var(--col-accent)!important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225)!important;
}

/****************\
|   BREADCRUMB   |
\****************/

.breadcrumb {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: transparent;
}

.breadcrumb.light {
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.breadcrumb.light a {
    color: var(--col-accent);
}

.breadcrumb-item.active,
.breadcrumb-item:before {
    color: var(--col-text-sec-dark)!important;
}

.breadcrumb.light .breadcrumb-item.active,
.breadcrumb.light .breadcrumb-item:before {
    color: var(--col-text-sec-light)!important;
}

/*****************\
|   SEARCH BARS   |
\*****************/

.search-bar {
    margin: 6px 0;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 360px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.search-bar.dark {
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.search-bar.dark * {
    color: var(--col-text-light);
}

.search-bar:hover, .search-bar:focus-within {
    background-color: var(--col-primary-light);
    border: 1px solid var(--col-primary-light);
    box-shadow: 0 0 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.search-bar.dark:hover, .search-bar.dark:focus-within {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid transparent;
}

.search-bar [type="text"] {
    height: 36px;
    flex-grow: 1;
    border: none!important;
    outline: none!important;
    background-color: transparent;
}

.search-bar [type="text"]:placeholder-shown + .btn {
    display: none;
    pointer-events: none;
}

.search-bar *:not(:last-child) {
    margin-right: 8px;
}

/**************\
|   COLLAPSE   |
\**************/

[data-toggle="collapse"] .mdi:before {
    transition: transform 0.3s ease;
}

[data-toggle="collapse"][aria-expanded="true"] .mdi:before {
    transform: rotate(180deg);
}

/***************\
|   DROPDOWNS   |
\***************/

.dropdown, .dropup, .dropleft, .dropright {
    display: inline-block;
}

.dropdown-menu {
    background-color: var(--col-primary-light);
    border-radius: 4px;
    border: none;
    padding: 0;
    overflow: hidden;
    z-index: 90;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu.dark {
    background-color: var(--col-dark-primary-light);
}

/*.dropup .dropdown-menu {
    top: initial!important;
    bottom: 0;
}*/

.dropdown-item {
    transition: background-color 0.2s ease-in-out;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    outline: none!important;
}

.dropdown-item:not(.disabled):hover,
.dropdown-item:focus {
    background-color: rgba(0, 0, 0, 0.08)!important;
}

.dropdown-menu.dark .dropdown-item:not(.disabled):hover,
.dropdown-menu.dark .dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.08)!important;
}

.dropdown-item.active {
    background-color: transparent;
}

.dropdown-item.active, .dropdown-item.active * {
    color: var(--col-accent)!important;
    font-weight: bold;
}

.dropdown-item.disabled {
    opacity: 0.65;
    cursor: default;
    color: var(--col-text-dark);
}

.dropdown-item, .dropdown-item span {
    color: var(--col-text-dark);
}

.dropdown-menu.dark .dropdown-item, .dropdown-menu.dark .dropdown-item span {
    color: var(--col-text-light);
}

.dropdown-item .mdi {
    margin-right: 16px;
}

.dropdown-item span + .mdi {
    margin-right: 0px;
    margin-left: 16px;
}

[data-toggle="dropdown"] .arrow:before {
    transition: transform 0.3s ease;
}

.show [data-toggle="dropdown"] .arrow:before {
    transform: rotate(180deg);
}

.dropdown-menu h6 {
    font-size: 12px;
    margin: 0;
    padding: 8px 16px 4px 16px;
    white-space: nowrap;
}

/*************\
|   LOADING   |
\*************/

.loader svg path, .loader svg rect,
.loader.dark svg path, .loader.dark svg rect {
    fill: var(--col-accent-dark);
}

.loader svg path, .loader svg rect,
.loader.light svg path, .loader.light svg rect {
    fill: var(--col-accent);
}

/**************\
|   CAROUSEL   |
\**************/

.carousel {
    overflow: hidden;
    border-radius: 4px;
}

.carousel .image-shade {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    box-shadow: inset 0 -128px 100px -100px rgba(0, 0, 0, 0.54),
                inset 128px 0 100px -100px rgba(0, 0, 0, 0.54),
                inset -128px 0 100px -100px rgba(0, 0, 0, 0.54);
}

.carousel-indicators {
    align-items: center;
}

.carousel-indicators li {
    height: 6px;
    width: 6px;
    border-radius: 100%;
    transition: height 0.2s, width 0.2s, background-color 0.2s ease-in-out;
}

.carousel-indicators li:hover {
    background-color: #FFF;
}

.carousel-indicators li.active {
    height: 10px;
    width: 10px;
}

.carousel-control-prev, .carousel-control-next {
    transition: opacity 0.2s ease-in-out;
}

.carousel-control-prev .mdi,
.carousel-control-next .mdi {
    height: 36px;
    font-size: 36px;
    line-height: 36px;
}

.carousel-full-screen-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.carousel.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    z-index: 200;
    background-color: #222;
}

.carousel.full-screen .carousel-inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel.full-screen img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vw;
}

.carousel-no-scroll {
    overflow-y: hidden;
}

/*************************\
|   POPOVERS & TOOLTIPS   |
\*************************/

.popover .arrow,
.tooltip .arrow {
    display: none!important;
    overflow: hidden;
}

.popover {
    background-color: #404040;
    border: none;
    box-shadow: none!important;
}

.popover-header {
    font-weight: bold;
    color: var(--col-text-light);
    background-color: #404040;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 4px 4px 0 0;
}

.popover-header:before {
    display: none!important;
}

.popover-body {
    color: var(--col-text-light);
    border-radius: 0 0 4px 4px;
}

.tooltip-inner {
    background-color: #404040;
    border-radius: 4px;
}

/***********\
|   CHIPS   |
\***********/

.chip-container {
    margin: -4px;
}

.chip {
    width: auto;
    display: inline-flex;
    align-items: center;
    height: 32px;
    margin: 4px;
    padding: 0;
    outline: none!important;
    text-decoration: none!important;
    border-radius: 360px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

.chip.light {
    border: 1px solid rgba(255, 255, 255, 0.12);
}

button.chip:hover, a.chip:hover, .chip.selected {
    background-color: rgba(0, 0, 0, 0.08);
}

button.chip.light:hover, a.chip.light:hover, .chip.light.selected {
    background-color: rgba(255, 255, 255, 0.08);
}

button.chip {
    cursor: pointer;
}

.chip>span {
    font-size: 14px;
    line-height: 20px;
    margin: 0 8px;
    white-space: nowrap;
    pointer-events: none;
}

.chip.light>span {
    color: var(--col-text-light);
}

.chip>span:first-child {
    margin-left: 14px;
}

.chip>span:last-child {
    margin-right: 14px;
}

.chip>img {
    object-fit: cover;
    height: 24px;
    width: 24px;
    border-radius: 360px;
}

.chip>.mdi:first-child, .chip>img:first-child {
    margin-left: 3px;
}

.chip>.mdi:last-child, .chip>img:last-child {
    margin-right: 3px;
}

.chip>.btn.icon {
    padding: 5px;
}

.chip>.btn.icon .mdi {
    height: 20px;
    font-size: 20px;
    line-height: 20px;
}

/*******************\
|   PROGRESS BARS   |
\*******************/

.progress {
    height: 4px;
    border-radius: 360px;
    background-color: rgba(0, 0, 0, 0.08);
}

.progress.dark {
    background-color: rgba(255, 255, 255, 0.08);
}

.progress-bar {
    border-radius: 360px;
    background-color: var(--col-accent);
}

/*************\
|   SLIDERS   |
\*************/

.slider-container {
    height: 20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none!important;
    height: 4px;
    width: 100%;
    border-radius: 360px;
    background-color: rgba(0, 0, 0, 0.08);
    transition: height 0.2s;
}

.slider.dark {
    background-color: rgba(255, 255, 255, 0.08);
}

.slider:not(:disabled):hover, .slider:focus {
    z-index: 20;
}

.slider:not(:disabled):hover,
.slider:not(:disabled):hover ~ .slider-progress {
    height: 6px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    cursor: pointer;
    background-color: var(--col-accent);
    transition: box-shadow 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.slider::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    cursor: pointer;
    background-color: var(--col-accent);
    transition: box-shadow 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.slider:disabled::-webkit-slider-thumb {
    background-color: var(--col-primary);
    border: 8px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 0px 4px var(--col-primary);
    cursor: default;
}

.slider:disabled::-moz-range-thumb {
    background-color: var(--col-primary);
    border: 8px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 0px 4px var(--col-primary);
    cursor: default;
}

.slider.dark:disabled::-webkit-slider-thumb {
    background-color: var(--col-dark-primary);
    border: 8px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0px 0px 0px 4px var(--col-dark-primary);
}

.slider.dark:disabled::-moz-range-thumb {
    background-color: var(--col-dark-primary);
    border: 8px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0px 0px 0px 4px var(--col-dark-primary);
}

.slider:not(:disabled)::-webkit-slider-thumb:hover,
.slider:focus::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.08);
}

.slider:not(:disabled)::-moz-range-thumb:hover,
.slider:focus::-moz-range-thumb {
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.08);
}

.slider.dark:not(:disabled)::-webkit-slider-thumb:hover,
.slider.dark:focus::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.12);
}

.slider.dark:not(:disabled)::-moz-range-thumb:hover,
.slider.dark:focus::-moz-range-thumb {
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.12);
}

.slider-progress {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 0;
    border-radius: 360px;
    background-color: var(--col-accent);
    pointer-events: none;
    transition: height 0.2s;
}

.slider:disabled + .slider-progress {
    opacity: 0;
}

.slider-tooltip {
    position: absolute;
    top: -40px;
    font-size: 14px;
    color: var(--col-text-light);
    background-color: #404040;
    border-radius: 4px;
    padding: 4px 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.slider:not(:disabled):hover ~ .slider-tooltip,
.slider:focus ~ .slider-tooltip {
    opacity: 0.9;
}

/*****************\
|   EMPTY STATE   |
\*****************/

.empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-state * {
    max-width: 300px;
}

.empty-state img, .empty-state .mdi {
    height: 192px;
    width: 192px;
    object-fit: contain;
    border-radius: 100%;
    border: 4px solid rgba(0, 0, 0, 0.12);
}

.empty-state .mdi {
    color: var(--col-text-dis-dark);
    background-color: var(--col-primary-dark);
    font-size: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-state.dark .mdi {
    color: var(--col-text-dis-light);
    background-color: var(--col-dark-primary-light);
    border: 4px solid var(--col-text-dis-light)!important;
}

/*************\
|   PICKERS   |
\*************/

.text-input.picker,
.text-input.picker * {
    cursor: pointer!important;
}

.text-input.picker .mdi {
    pointer-events: none;
}
