#footer {
    background-color: var(--col-primary-dark);
}

ul {
    padding: 0 8px;
}

li {
    list-style-type: none;
}

#footer h5, #footer p, #footer a, #footer li {
    color: var(--col-text-sec-dark);
}

#footer .social {
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    #footer-left, #footer-middle {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
}

@media (max-width: 767px) {
    #footer-left, #footer-middle {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
}
