#contacts-content .text-input input,
#contacts-content textarea {
    width: 100%;
}

#companies-summary #map-parent {
    position: relative;
}

#companies-summary #map {
    width: calc(100% - 32px);
    height: 100%;
    border-radius: 4px;
}

#companies-summary #companies-list {
    max-height: 460px;
    overflow-y: auto;
}

#companies-summary .company {
    text-decoration: none!important;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

#companies-summary .company:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#companies-summary .company-image {
    object-fit: cover;
    height: 56px;
    width: 56px;
    border-radius: 4px;
    margin: 8px 16px 8px 8px;
}

#companies-summary .company-address {
    font-size: 14px;
}
