.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    display: flex;
    z-index: 100;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.top-bar.scroll {
    background-color: var(--col-primary);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.top-bar .container, .top-bar-left, .top-bar-center, .top-bar-right {
    display: flex;
    align-items: center;
}

.top-bar-center {
    flex-basis: 0px;
    flex-grow: 2;
    justify-content: center;
}

.top-bar-left, .top-bar-right {
    flex-basis: 0px;
    flex-grow: 1;
    max-height: 100%;
}

.top-bar-left {
    margin-right: 15px;
}

.top-bar-right {
    justify-content: flex-end;
    margin-left: 15px;
}

.top-bar-left>*:not(:last-child) {
    margin-right: 8px;
}

.top-bar-right>*:not(:first-child) {
    margin-left: 8px;
}

.top-bar-logo {
    display: inline-block;
    height: 56px;
    padding: 6px 0;
}

.top-bar-logo img {
    max-height: 100%;
    height: auto;
}

.top-bar .mdi, .top-bar-center>.menu-item>span {
    color: var(--col-text-light);
    transition: color 0.2s ease-in-out;
}

.top-bar .dropdown-item>.mdi {
    color: var(--col-text-sec-dark)!important;
}

.top-bar.scroll .mdi, .top-bar.scroll .menu-item>span {
    color: var(--col-text-sec-dark);
}

.menu-item {
    text-decoration: none!important;
    outline: none!important;
    box-shadow: none!important;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.menu-item .mdi.expand:before {
    transition: transform 0.3s ease;
}

.menu-item.expanded .mdi.expand:before {
    transform: rotate(180deg);
}

span.cart-badge {
    color: var(--col-text-light)!important;
    background-color: var(--col-accent);
    border-radius: 9px;
    position: absolute;
    top: -3px;
    right: -3px;
}

.cart-badge:empty {
    display: none;
}

/* DESKTOP MENU */
@media (min-width: 992px) {

    .top-bar-center>.menu-item {
        text-transform: uppercase;
        flex-grow: 1;
        margin: 4px 2px;
        padding: 8px 16px;
        border-radius: 4px;
        display: inline-flex;
        justify-content: center;
    }

    .menu-item:hover, .top-bar-center>.menu-item.selected, .menu-item.btn.selected {
        background-color: rgba(0, 0, 0, 0.08)!important;
    }

    .top-bar-center>.menu-item.light:hover, .top-bar-center>.menu-item.light.selected {
        background-color: rgba(255, 255, 255, 0.08)!important;
    }

    .menu-item.expanded {
        background-color: rgba(0, 0, 0, 0.08);
    }

    .menu-item span {
        color: var(--col-text-sec-dark);;
    }

    .menu-item.selected span, .menu-item.selected .mdi {
        font-weight: bold;
        color: var(--col-accent)!important;
    }
}

/* MOBILE MENU */
@media (max-width: 991px) {

    .menu-header {
        display: flex;
        align-items: center;
        height: 262px;
        margin-bottom: 6px;
    }

    .menu-header img {
        width: 100%;
        padding: 48px 24px;
    }

    .menu-no-scroll {
        overflow-y: hidden;
    }

    .menu-toggle {
        margin-right: 15px;
    }

    .menu {
        background-color: var(--col-primary);
        position: fixed;
        top: 0;
        left: -350px;
        height: 100vh;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow-y: auto;
        z-index: 110;
        transition: left 0.3s ease-in-out;
    }

    .menu.open {
        left: 0;
    }

    .menu-shade {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: black;
        opacity: 0;
        pointer-events: none;
        z-index: 109;
        transition: opacity 0.2s ease-in-out;
    }

    .menu.open + .menu-shade {
        opacity: 0.4;
        pointer-events: initial;
    }

    .menu-center .menu-logo {
        background-color: var(--col-primary-dark);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 13px;
    }

    .menu .menu-logo img {
        padding: 24px 12px 0 12px;
        width: 100%;
    }

    .menu>*:last-child {
        margin-bottom: 16px;
    }

    .menu-item {
        display: flex;
        flex-shrink: 0;
        width: calc(100% - 12px);
        padding: 12px;
        margin: 0 6px 6px 6px;
        border-radius: 4px;
        transition: background-color 0.2s ease-in-out;
    }

    .menu-item:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.08)!important;
    }

    .menu-item.selected {
        font-weight: bold;
    }

    .menu-item .mdi:first-child {
        color: var(--col-icon-dark)!important;
        margin-right: 24px;
    }

    .menu-item span {
        color: var(--col-text-dark)!important;
    }

    .menu-item>.mdi:last-child, .menu-item>.btn.icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
    }

    .menu-item>.btn.icon {
        right: 6px!important;
        width: 36px;
    }

    .menu-item.selected span, .menu-item.selected .mdi {
        color: var(--col-accent-dark)!important;
    }

    .submenu {
        max-height: 0px;
        min-width: 0px!important;
        width: 100%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
    }

    .submenu.active {
        max-height: 99em;
        transition: max-height 0.75s ease-in-out;
    }

    .submenu .menu-item {
        padding-left: 30px;
    }

    .menu .divider {
        margin-top: 0!important;
        margin-bottom: 6px!important;
    }

    .top-bar .dropdown-menu {
        display: none!important;
    }

    .menu-item>.cart-badge {
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        color: var(--col-text-light)!important;
    }
}

/* MENU WIDTH */

/* XL */
@media (min-width: 1200px) {
    .menu-container {
        max-width: 1140px;
    }
}

/* LG */
@media (min-width: 992px) and (max-width: 1199px) {
    .menu-container {
        max-width: 960px;
    }
}

/* MD */
@media (min-width: 768px) and (max-width: 991px) {

}

/* SM, XS */
@media (max-width: 767px) {

}
