/***************************\
|   AUTHENTICATION MODALS   |
\***************************/

#modal-login .modal-content,
#modal-sign-up .modal-content,
#modal-pwd-recovery .modal-content,
#modal-pwd-change .modal-content {
    width: 360px;
}

#modal-login [type="submit"],
#modal-sign-up [type="submit"],
#modal-pwd-recovery [type="submit"],
#modal-pwd-change [type="submit"] {
    width: 200px;
}

#modal-login .text-input>input,
#modal-sign-up .text-input>input,
#modal-pwd-recovery .text-input>input,
#modal-pwd-change .text-input>input {
    width: 100%;
}

/******************************\
|   ADDRESS MANAGEMENT MODAL   |
\******************************/

#modal-address-management .modal-content {
    width: 100%;
}

#modal-address-management .address {
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

#modal-address-management .address:not(:last-child) {
    margin-bottom: 8px;
}

#modal-address-management .address:hover,
#modal-address-management .new.address.focus {
    background-color: rgba(0, 0, 0, 0.08);
}

#modal-address-management .address .thumb {
    background-size: cover;
    height: 48px;
    width: 48px;
    border-radius: 4px;
    margin: 8px 16px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.08);
    border: 2px solid #EEE;
    outline: none;
}

#modal-address-management .new.address .thumb {
    border: 2px solid transparent;
    cursor: pointer;
}

#modal-address-management .address .thumb .mdi {
    color: #707070;
}

#modal-address-management p {
    flex-grow: 1;
}

#modal-address-management .delete-address,
#modal-address-management .create-address {
    margin-right: 14px;
}

#modal-address-management .address-input {
    height: 64px;
    flex-grow: 1;
    margin-right: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}

/*******************\
|   PRODUCT MODAL   |
\*******************/

#modal-product .modal-content {
    width: 360px;
}

/********************\
|   CART ADD MODAL   |
\********************/

#modal-cart-add .text-input span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

/*********************\
|   TIME SLOT MODAL   |
\*********************/

#modal-time-slot .modal-content {
    width: 100%;
}

.time-slots, .time-slot {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.time-slots {
    width: 100%;
}

.time-slot {
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.time-slot:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.time-slot.disabled, .time-slot.full {
    cursor: default;
    background-color: var(--col-primary-dark);
}

.time-slot.full {
    color: var(--col-text-dis-dark);
}

.time-slot.disabled {
    color: transparent;
    background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), rgba(0, 0, 0, 0.12), transparent calc(50% + 1px));
}

.time-slot.selected {
    cursor: default;
    color: var(--col-text-light);
    background-color: var(--col-accent);
}
