/***************************\
|   AUTHENTICATION MODALS   |
\***************************/

#modal-login .modal-content,
#modal-sign-up .modal-content,
#modal-pwd-recovery .modal-content,
#modal-pwd-change .modal-content {
    width: 360px;
}

#modal-login [type="submit"],
#modal-sign-up [type="submit"],
#modal-pwd-recovery [type="submit"],
#modal-pwd-change [type="submit"] {
    width: 200px;
}

#modal-login .text-input>input,
#modal-sign-up .text-input>input,
#modal-pwd-recovery .text-input>input,
#modal-pwd-change .text-input>input {
    width: 100%;
}

/******************************\
|   ADDRESS MANAGEMENT MODAL   |
\******************************/

#modal-address-management .modal-content {
    width: 100%;
}

/*******************\
|   PRODUCT MODAL   |
\*******************/

#modal-product .modal-content {
    width: 360px;
}

/********************\
|   CART ADD MODAL   |
\********************/

#modal-cart-add .text-input span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    font-size: 16px;
}

/*********************\
|   TIME SLOT MODAL   |
\*********************/

#modal-time-slot .modal-content {
    width: 100%;
}

.time-slots-wrapper {
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.time-slots {
    width: 100%;
}

.time-slot {
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.time-slot:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.time-slot.disabled, .time-slot.full {
    cursor: default;
    background-color: var(--col-primary-dark);
}

.time-slot.disabled span {
    display: none;
}

.time-slot.full span {
    color: var(--col-text-dis-dark);
}

.time-slot.selected {
    cursor: default;
    background-color: var(--col-accent);
}

.time-slot.selected span {
    color: var(--col-text-light);
}
