.modal-dialog {
    justify-content: center;
}

.modal-content {
    background-color: var(--col-primary);
    border: none;
    border-radius: 4px!important;
    width: auto;
    overflow: hidden;
}

.modal-top {
    background-color: var(--col-primary-dark);
    position: relative;
    display: flex;
    justify-content: center;
}

.modal-top [data-dismiss="modal"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px 4px 0 0;
}

.modal-body {
    padding: 16px;
}

.modal-bottom {
    background-color: var(--col-primary-dark);
    padding: 12px;
}

/*****************\
|   LOGIN MODAL   |
\*****************/

#modal-login .text-input,
#modal-sign-up .text-input {
    margin: 6px 0;
}

#modal-login .text-input input,
#modal-sign-up .text-input input {
    width: 300px;
}

.login-header-icon {
    margin: 36px 48px;
    color: var(--col-accent);
    height: 128px;
    font-size: 128px;
    line-height: 128px;
}

#submit-login,
#submit-sign-up {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*******************\
|   SIGN-UP MODAL   |
\*******************/


#back-to-login {
    position: absolute;
    top: 0;
    left: 0;
    margin: 4px 0 0 4px;
}


#marketing-consent + label {
    max-width: 300px;
}
