@using RazorLight
@inherits TemplatePage<dynamic>

<tr style="color: rgba(0, 0, 0, 0.54); background-color: #FAFAFA;">
    <td colspan="6" style="padding: 16px; text-align: center;">
        <h5 style="color: #9CBF22; font-size: 14px; font-weight: bold; letter-spacing: 0.1rem; margin: 0 0 8px 0;">SITO</h5>
        <p style="margin: 0;">
            <a href="#" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">Home</a><br />
            <a href="#" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">Catalogo</a><br />
            <a href="#" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">Chi siamo</a><br />
            <a href="#" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">Contatti</a><br />
            <a href="#" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">Aiuto</a><br />
            <a href="#" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">Privacy e termini</a><br />
        </p>
    </td>
    <td colspan="6" style="padding: 16px; text-align: center;">
        <h5 style="color: #9CBF22; font-size: 14px; font-weight: bold; letter-spacing: 0.1rem; margin: 0 0 8px 0;">CONTATTI</h5>
        <img src="@ViewBag.WebRoot/images/MailTemplates/email.png" height="20" width="20" alt="Icona footer" /><br />
        <p style="margin: 0 0 8px 0;">
            <a href="mailto:info@greenproject.com" target="_top" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">info@greenproject.com</a><br>
            <a href="mailto:support@greenproject.com" target="_top" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">support@greenproject.com</a>
        </p>
        <img src="@ViewBag.WebRoot/images/MailTemplates/phone.png" height="20" width="20" alt="Icona footer" /><br />
        <a href="tel: +39 123 456 7890" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">+39 123 456 7890</a>
    </td>
</tr>
<tr style="color: rgba(0, 0, 0, 0.54); background-color: #F0F0F0;">
    <td colspan="6" style="padding: 16px; text-align: center;">
        <p style="margin: 0;">&copy; 2020 Green Project™</p>
    </td>
    <td colspan="6" style="padding: 16px; text-align: center;">
        <a href="https://www.facebook.com/Green-Project-SS-417945002127818/" target="_blank" style="text-decoration: none;">
            <img src="@ViewBag.WebRoot/images/MailTemplates/facebook.png" height="20" width="20" alt="Icona footer" />
        </a>
        &nbsp;&nbsp;
        <a href="https://www.instagram.com/_green.project_/" target="_blank" style="text-decoration: none;">
            <img src="@ViewBag.WebRoot/images/MailTemplates/instagram.png" height="20" width="20" alt="Icona footer" />
        </a>
    </td>
</tr>