@using RazorLight
@using GreenProject.Backend.Entities;
@inherits TemplatePage<dynamic>

@{
    Order order = Model.Order;
}

<tr>
    <td colspan="12" style="padding: 16px;">
        <h1>Riepilogo ordine</h1>
        <h4 style="color: #9CBF22; margin: 16px 0 8px 0;">Grazie per il tuo ordine.</h4>
        <p>
            Ti invieremo una email quando i tuoi prodotti saranno spediti.<br />Puoi consultare le informazioni relative al tuo ordine qui sotto o alla sezione <a href="#" style="color: #9CBF22; text-decoration: none;">Ordini</a> su greenproject.store.
        </p>
        @{ await IncludeAsync("OrderView.cshtml", order); }
    </td>
</tr>