<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Green Project - Nuovo ordine</title>
</head>
<body>
    <table style="width: 480px; border-collapse: collapse; margin: 0 auto;">
        <!-- Header -->
        <tr>
            <td colspan="12" style="padding: 16px; border-bottom: 1px solid rgba(0, 0, 0, 0.12); text-align: center; vertical-align: middle;">
                <a href="#"><img src="{wwwroot}/Images/MailTemplates/greenproject_logo_small.png" height="80px" width="180px" alt="Green Project logo"/></a>
            </td>
        </tr>
        <!-- Content -->
        <tr>
            <td colspan="12" style="padding: 16px;">
                <h1>Nuovo ordine ricevuto!</h1>
                <p>
                    È stato registrato un nuovo ordine che comprende <strong>{productName}</strong> e altri <strong>{itemCount}</strong> prodotti.
                </p>
                <p>
                    Cliente: <strong>{customerEmail}</strong>
                    <br/>
                    N° ordine: <strong>{orderNumber}</strong>
                    <br/>
                    Data di consegna: <strong>{deliveryDate}</strong>
                </p>
            </td>
        </tr>
        <!-- Footer -->
        <tr style="color: rgba(0, 0, 0, 0.54); background-color: #FAFAFA;">
            <td colspan="6" style="padding: 16px; text-align: center;">
                <h5 style="color: #9CBF22; font-size: 14px; font-weight: bold; letter-spacing: 0.1rem; margin: 0 0 8px 0;">SITO</h5>
                <p style="margin: 0;">
                    <a href="#" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">Home</a><br/>
                    <a href="#" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">Catalogo</a><br/>
                    <a href="#" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">Chi siamo</a><br/>
                    <a href="#" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">Contatti</a><br/>
                    <a href="#" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">Aiuto</a><br/>
                    <a href="#" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">Privacy e termini</a><br/>
                </p>
            </td>
            <td colspan="6" style="padding: 16px; text-align: center;">
                <h5 style="color: #9CBF22; font-size: 14px; font-weight: bold; letter-spacing: 0.1rem; margin: 0 0 8px 0;">CONTATTI</h5>
                <img src="{wwwroot}/Images/MailTemplates/email.png" height="20px" width="20px" alt="Icona footer"/><br/>
                <p style="margin: 0 0 8px 0;">
                    <a href="mailto:info@greenproject.com" target="_top" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">info@greenproject.com</a><br>
                    <a href="mailto:support@greenproject.com" target="_top" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">support@greenproject.com</a>
                </p>
                <img src="{wwwroot}/Images/MailTemplates/phone.png" height="20px" width="20px" alt="Icona footer"/><br/>
                <a href="tel: +39 123 456 7890" style="color: rgba(0, 0, 0, 0.54); text-decoration: none;">+39 123 456 7890</a>
            </td>
        </tr>
        <tr style="color: rgba(0, 0, 0, 0.54); background-color: #F0F0F0;">
            <td colspan="6" style="padding: 16px; text-align: center;">
                <p style="margin: 0;">&copy; 2020 Green Project™</p>
            </td>
            <td colspan="6" style="padding: 16px; text-align: center;">
                <a href="https://www.facebook.com/Green-Project-SS-417945002127818/" target="_blank" style="text-decoration: none;">
                    <img src="{wwwroot}/Images/MailTemplates/facebook.png" height="20px" width="20px" alt="Icona footer"/>
                </a>
                &nbsp;&nbsp;
                <a href="https://www.instagram.com/_green.project_/" target="_blank" style="text-decoration: none;">
                    <img src="{wwwroot}/Images/MailTemplates/instagram.png" height="20px" width="20px" alt="Icona footer"/>
                </a>
            </td>
        </tr>
    </table>
</body>
</html>