<tr>
    <td colspan="12" style="padding: 16px;">
        <h1>Recupero password</h1>
        <p>
            È stato richiesto un cambio password, tuttavia questo indirizzo non risulta associato ad alcun account.
            <br/>
            Se sei stato tu a richiedere questa operazione, puoi contattarci via email all'indirizzo <a href="mailto:support@greenproject.com" target="_top" style="color: #9CBF22; text-decoration: none;">support@greenproject.com</a> o telefonicamente al numero <a href="tel: +39 123 456 7890" style="color: #9CBF22; text-decoration: none;">+39 123 456 7890</a>.
            <br/>
            In caso contrario, puoi ignorare questo messaggio.
        </p>
    </td>
</tr>