<tr>
    <td colspan="12" style="padding: 16px;">
        <h1>Recupero password</h1>
        <p>
            È stato richiesto un cambio password per il tuo account <strong>{customerEmail}</strong>.
            Clicca sul pulsante sottostante o su <a href="#" style="color: #9CBF22; text-decoration: none;">questo link</a> per reimpostare la tua password.
            <br/>
            Il link ha una validità di {validity} dal momento della richiesta. Se non sei stato tu a richiedere l'operazione puoi ignorare questo messaggio.
        </p>
        <p style="text-align: center; margin-bottom: 8px;">
            <a href="#" style="display: inline-block; color: #FFF; background-color: #9CBF22; text-decoration: none; padding: 6px 24px; border-radius: 4px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);">Cambia password</a>
        </p>
    </td>
</tr>