<tr>
    <td colspan="12" style="padding: 16px;">
        <h1>Attivazione abbonamento</h1>
        <h4 style="color: #9CBF22; margin: 16px 0 8px 0;">Grazie per il tuo abbonamento al nostro servizio di consegna settimanale.</h4>
        <p>
            Ti avviseremo ogni settimana con informazioni riguardanti le tue consegne.<br/>Puoi consultare le informazioni relative al tuo ordine settimanale qui sotto o alla sezione <a href="#" style="color: #9CBF22; text-decoration: none;">Ordini</a> su greenproject.store.
        </p>
    </td>
</tr>