#account-content .chip>span {
    font-weight: bold;
    color: var(--col-text-sec-dark);
}

/******************\
|   ACCOUNT TABS   |
\******************/

.account-tab {
    display: flex;
    align-items: center;
    padding: 12px;
    text-decoration: none!important;
    transition: background-color 0.2s ease-in-out;
}

.account-tab:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.account-tab:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.account-tab.selected > * {
    color: var(--col-accent-dark);
}

.account-tab .mdi:first-child {
    margin-right: 24px;
}

.account-tab > span + .mdi {
    margin-left: auto;
}

/***************\
|   USER DATA   |
\***************/

#user-data .text-input input:disabled,
#user-data .text-area textarea:disabled {
    color: var(--col-text-dark);
    border: 1px solid rgba(0, 0, 0, 0.12);
}

#user-data [type="radio"]:disabled + label {
    opacity: 1;
}

#user-data [type="radio"]:disabled + label:before,
#user-data [type="radio"]:disabled + label:after {
    opacity: 0.65;
}

/****************\
|   ALL ORDERS   |
\****************/

#account-content .order {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

#account-content .order-header {
    background-color: var(--col-primary-dark);
}

/*******************\
|   CLIENT ORDERS   |
\*******************/

#client-orders  .product-image {
    object-fit: cover;
    height: 56px;
    width: 56px;
    border-radius: 4px;
    margin: 8px 16px 8px 8px;
}

/* LG and up */
@media (min-width: 992px) {

    #client-orders .products-col {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }

    #client-orders .order-content .collapse {
        display: block!important;
    }

    #client-orders .order-content .area-collapse {
        cursor: initial!important;
    }

}

/* MD and down */
@media (max-width: 991px) {

    #client-orders .products-col {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

}

/**********************\
|   CLIENT ADDRESSES   |
\**********************/

.address-add {
    cursor: pointer;
    width: 100%;
    outline: none!important;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

.address-add:hover, .address-add:focus-within {
    background-color: rgba(0, 0, 0, 0.08);
}

/*********************\
|   WEEKLY DELIVERY   |
\*********************/

.product-group-table td, .product-group-table th {
    white-space: nowrap;
    padding: 8px;
    vertical-align: middle!important;
}

.product-group-table.products tr:first-child>td,
.product-group-table.compatible-products tr:first-child>td,
.summary-products tr:first-child>td {
    border-top: none;
}

.product-group-table .product-image,
.product-group-table .crate-image {
    height: 56px;
    width: 56px;
    min-width: 56px;
    border-radius: 4px;
}

.product-group-table .actions {
    padding: 8px 16px;
    text-align: right;
}

.product-group-table .add-product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 0;
    padding: 8px;
    transition: background-color 0.2s ease-in-out;
}

.product-group-table .add-product:hover, .product-group-table .add-product:focus {
    background-color: rgba(0, 0, 0, 0.08);
}

.product-group-table .add-product-icon {
    background-color: rgba(0, 0, 0, 0.04);
    height: 56px;
    width: 56px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-weekly-delivery .summary-preferences span {
    font-weight: bold;
    color: var(--col-text-dark);
}

#modal-product-add .table-wrapper {
    border: none;
}

/**************\
|   DELIVERY   |
\**************/

.modal-client-info .modal-body a {
    color: var(--col-text-dark);
}

.modal-client-info .modal-body a:hover {
    color: var(--col-accent);
}
