.footer {
    background-color: var(--col-primary-dark);
}

.footer-logo img {
    height: 64px;
}

.footer p, .footer a, .footer li {
    color: var(--col-text-sec-dark);
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer li {
    list-style-type: none;
}

.footer td:first-child {
    text-align: right;
    padding-right: 24px;
}

.footer td:last-child {
    text-align: center;
}

.footer .btn.facebook .mdi, .footer .btn.instagram .mdi {
    transition: color 0.2s ease-in-out;
}

.footer .btn.facebook:hover {
    background-color: rgba(25, 118, 210, 0.12);
}

.footer .btn.facebook:hover .mdi {
    color: #1976D2;
    opacity: 0.9;
}

.footer .btn.instagram:hover {
    background-color: rgba(236, 64, 122, 0.12);
}

.footer .btn.instagram:hover .mdi {
    color: #EC407A;
    opacity: 0.9;
}
