#tutorial .step {
    color: var(--col-text-light);
    background-color: var(--col-accent);
    font-weight: bold;
    line-height: 36px;
    height: 36px;
    width: 36px;
    border-radius: 100%;
}

#tutorial .step-thumb {
    background-color: var(--col-primary-dark);
    border-radius: 4px;
}

#about-content .member-image {
    border-radius: 100%;
    height: 78px;
    width: 78px;
    object-fit: cover;
    border: 4px solid rgba(0, 0, 0, 0.02);
}

#contacts-content textarea {
    height: 320px;
}

#contacts-content .contact-icon {
    border-radius: 100%;
    height: 78px;
    width: 78px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.04);
    border: 4px solid rgba(0, 0, 0, 0.02);
}

#contacts-content .contact-icon .mdi {
    height: 36px;
    font-size: 36px;
    line-height: 36px;
    color: var(--col-accent);
}
