#products .card-image-content {
    transition: background-color 0.2s ease-in-out;
}

#products .card-image-content:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#contacts-content .img-fluid {
    border-radius: 4px;
}

#map {
    border: 0;
    width: 100%;
}

/* MD */
@media (min-width: 768px) {
    #map {
        height: 500px;
    }
}

/* SM, XS */
@media (max-width: 767px) {
    #map {
        height: 300px;
    }
}

#products_ {
    display: block;
    visibility: hidden;
    position: relative;
    top: -72px;
}
