/***************************\
|   AUTHENTICATION MODALS   |
\***************************/

#modal-login .modal-content,
#modal-sign-up .modal-content,
#modal-pwd-recovery .modal-content,
#modal-pwd-change .modal-content {
    width: 360px;
}

#modal-login [type="submit"],
#modal-sign-up [type="submit"],
#modal-pwd-recovery [type="submit"],
#modal-pwd-change [type="submit"] {
    width: 200px;
}

#modal-login .text-input>input,
#modal-sign-up .text-input>input,
#modal-pwd-recovery .text-input>input,
#modal-pwd-change .text-input>input {
    width: 100%;
}

/******************************\
|   ADDRESS MANAGEMENT MODAL   |
\******************************/

#modal-address-add .modal-content {
    width: 100%;
}

#modal-address-add .address-thumb {
    height: 128px;
    width: 128px;
    margin: 36px 48px;
}

#modal-address-add .address-thumb .mdi {
    line-height: 64px;
    font-size: 64px;
    height: 64px;
}

/*******************\
|   PRODUCT MODAL   |
\*******************/

.modal-product .modal-content {
    width: 360px;
}

/********************\
|   CART ADD MODAL   |
\********************/

.modal-product-add .text-input span,
#modal-confirm-available .text-input span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    font-size: 16px;
}
