:root {
    --col-accent: #9CBF22!important;
    --col-accent-dark: #9CBF22!important;

    --font-heading: 'Work Sans', sans-serif!important;
    --font-normal: 'Work Sans', sans-serif!important;
}

.sticky-top {
    z-index: 80;
}

.card .cover {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card .img-hover-zoom:hover>.cover {
    opacity: 1;
}

.loader {
    display: none;
}

/****************************\
|   ANCHOR FOR HASH TARGET   |
\****************************/

.anchor {
    display: block;
    visibility: hidden;
    position: relative;
    top: -72px;
}

#general.anchor, #personal.anchor, #addresses.anchor {
    top: -96px;
}

/********************\
|   ORDER STATUSES   |
\********************/

.order-pending {
    color: #FFA000;
}

.order-working {
    color: #6A1B9A;
}

.order-shipped {
    color: #0277BD;
}

.order-ok {
    color: #43A047;
}

.order-canceled {
    color: var(--col-text-sec-dark);
}

/**************\
|   PRODUCTS   |
\**************/

@media (max-width: 991px) {
    #products-content .sticky-top {
        position: initial!important;
    }
}

/******************\
|   PRODUCT CARD   |
\******************/

.product-card.disabled .disabled-shade {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

/******************\
|   COOKIE ALERT   |
\******************/

.alert {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
}

.alert-content {
    max-width: 1110px;
    margin: 0;
    z-index: 90;
    background-color: var(--col-primary-dark);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
}

.alert .content {
    padding: 12px 12px 12px 16px;
}

.alert .actions {
    padding-right: 6px;
}

/* SM, XS */
@media (max-width: 767px) {
    .alert-content {
        border-radius: 0!important;
    }
}

/*****************\
|   EMPTY STATE   |
\*****************/

.empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-state * {
    max-width: 300px;
}

.empty-state img {
    height: 256px;
    width: 256px;
    object-fit: contain;
    border-radius: 100%;
    border: 4px solid rgba(0, 0, 0, 0.12);
}

/*******************************************\
|   ADDRESS MANAGEMENT AND PAYMENT METHOD   |
\*******************************************/

.address-item, .payment-item {
    border-radius: 4px;
    border: 2px solid transparent;
    margin-bottom: 8px;
}

.address-item.default {
    border: 2px solid var(--col-accent);
}

.address-item .thumb,
.address-thumb,
.payment-item .thumb {
    background-size: cover;
    height: 48px;
    width: 48px;
    border-radius: 4px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.08);
}

.address-item .thumb {
    border: 2px solid #EEE;
}

.address-item .thumb .mdi, .address-thumb .mdi {
    color: #707070;
}

.address-item span {
    font-size: 14px;
}

/***********************\
|   EDIT FIELD BUTTON   |
\***********************/

.text-input .edit-field,
.text-area .edit-field,
#user-data [type="password"] + .btn {
    position: absolute;
    right: 3px;
    top: 9px;
}

/***********************\
|   EDIT PRODUCT PAGE   |
\***********************/

.edit-product-img {
    position: relative;
    height: 256px;
    width: 256px;
    border-radius: 4px;
    overflow: hidden;
}

.edit-product-img div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.edit-product-img:hover div {
    opacity: 1;
}

.edit-product-img [type="file"] {
    position: absolute;
    height: 0;
    width: 0;
}

.edit-product-img label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}
